

.row-code {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cols-code {
    flex: 1;
}

.bg-dark {
    background-color: #343a40;
}

.rounded {
    border-radius: 8px;
}

.p-2 {
    padding: 10px;
}

.px-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.m-3 {
    margin: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
    flex-wrap: wrap; /* thêm dòng này để tự động xuống dòng khi chật */
}


.flex-column {
    flex-direction: column;
}

.w-25 {
    width: 25%;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 4px;
}
.textarea-code{
    resize: none;
    overflow: auto;
    height: 200px;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 4px;
}

button {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    margin-left: 10px;
}

button i {
    font-style: normal;
}

.h-50 {
    height: 50%;
}

.form-control {
    background-color: #1e1e1e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    resize: vertical;
}

label {
    display: block;
    font-size: 14px;
}