    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: white;
          }
          .tablinks{
            border-radius: 5px;
            background-color: #fefefe;
          }
          
          /* Style the buttons inside the tab */
          .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
          }
          .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
          }
          
          /* Change background color of buttons on hover */
          .tab button:hover {
            background-color: #ddd;
          }
          
          /* Create an active/current tablink class */
          .tab button.active {
            background-color: #ccc;
          }
          #overall-band-div{
            border-color: red;
            border-style: solid;
            background-color: white;
          }
          /* Style the tab content */
          
        .container1 {
            display: flex;
            /* height: 83vh; Make the container full height */
            box-sizing: border-box;
            overflow: hidden; /* Prevent scrolling of the main container */
            flex-direction: row; /* Default to row layout */
            /*height: 100%;*/
            width: 100%;
        }
        .getstartpage{
            display: flex;
          height: 83vh; /* Make the container full height 
            padding: 20px;   Cái này tạo ô cân hơn (8/9/2024)    */ 
            box-sizing: border-box;
            overflow: hidden; /* Prevent scrolling of the main container */
            flex-direction: row; /* Default to row layout */
        }
        #result-tab-your-answer{
            display: flex;
          height: 83vh; /* Make the container full height 
            padding: 20px;   Cái này tạo ô cân hơn (8/9/2024)    */ 
            box-sizing: border-box;
            overflow: hidden; /* Prevent scrolling of the main container */
            flex-direction: row; /* Default to row layout */
        }

        .column0 {
            flex: 1; /* Each column takes up equal space */
            padding: 20px;
            box-sizing: border-box;
            background-color: #fff; /* White background for columns */
            /*border-radius: 20px; /* Rounded corners */
            max-height: 100%; /* Make columns take up full height */
            overflow-y: auto; /* Enable vertical scrolling in columns */
        }
        #result-full-page{
            display: none;
        }
    
        .popup {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        }

        .practice-pronunciation-content {
            background-color: #fefefe;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            max-height: 70%;
            overflow: auto;
            width: 70%; /* Could be more or less, depending on screen size */
        }

        .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.question{

    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
        .column1 {
            flex: 1; /* Each column takes up equal space */
            padding: 20px;
            box-sizing: border-box;
            background-color: #fff; /* White background for columns */
           /* border-radius: 20px; /* Rounded corners */
            max-height: 100%; /* Make columns take up full height */
            overflow-y: auto; /* Enable vertical scrolling in columns */
            display: none; /* Initially hide the content */
        }
        .parent-container {
            display: flex; /* Use Flexbox */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
        }

        .video-container {
            border: 1px solid rgb(73, 61, 61);

            border-radius: 10%;
            width: 40%;   
            overflow: hidden; /* Ensure video does not overflow container */
        }
        .video-container-intro{
         
            overflow: hidden; /* Ensure video does not overflow container */
        }
        

        .video-container video {

            width: 100%; /* Make the video responsive within its container */
            height: 100%;
            display: block;
        }

        .answerTextarea {
            background-color: transparent;
            color: black;
            width: 100%;
            padding: 5px;

            overflow: auto;
            border: ridge 2px;

            resize: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
        }

        /* New container to center the buttons */
        .button-container {
            display: flex; /* Use Flexbox */
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically if needed */
            gap: 10px; /* Add space between buttons if desired */
            width: 100%; /* Full width to ensure centering */
            margin-top: 20px; /* Optional: Add margin on top */
        }

        /* Button styles */
        .main-button {
        
            background-color: rgb(46, 216, 188);
            color: white;
            padding: 10px 20px; /* Add padding for better button size */
            border: none; /* Remove default button border */
            cursor: pointer; /* Show a pointer cursor on hover */
            font-size: 16px; /* Optional: Adjust font size */
            border-radius: 5px; /* Optional: Add rounded corners */
        }

        /* Add some hover effects for better UX */
        .main-button:hover {
            background-color: darkgreen; /* Change background on hover */
        }
        .timer-display-id{
            text-align: center;
            justify-content: center;
        }


        /* Ensure the result column is scrollable */
        #resultColumn {
          /*   max-height: 70vh; Adjust the height as needed */
            overflow-y: auto; /* Enable vertical scrolling */
        }

        .video-background {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Ensure the video stays in the background */
            object-fit: cover; /* Cover the entire background */
        }

           /* Get Started button styling */
        #getStartedButton {
            
            right: 20px;
            top: 20px;
            background-color: orange;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;


        }

        @property --p {
            syntax: '<number>';
            inherits: true;
            initial-value: 0;
          }
        
          .pie {
            --p: 20;
            --b: 22px;
            --c: darkred;
            --w: 150px;
            
            width: var(--w);
            aspect-ratio: 1;
            position: relative;
            display: inline-grid;
            margin: 5px;
            place-content: center;
            font-size: 25px;
            font-weight: bold;
            font-family: sans-serif;
          }
          .pie:before,
          .pie:after {
            content: "";
            position: absolute;
            border-radius: 50%;
          }
          .pie:before {
            inset: 0;
            background:
              radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
              conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
            -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
                    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
          }
          .pie:after {
            inset: calc(50% - var(--b)/2);
            background: var(--c);
            transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
          }
          .animate {
            animation: p 1s .5s both;
          }
          .no-round:before {
            background-size: 0 0, auto;
          }
          .no-round:after {
            content: none;
          }
          @keyframes p {
            from {--p: 0}
          }
          #pie-chart-final {
            display: flex; /* Sử dụng Flexbox để sắp xếp các pie chart */
            flex-wrap: wrap; /* Cho phép các pie chart cuộn xuống hàng tiếp theo */
            justify-content: space-between; /* Phân bố không gian giữa các pie chart */
            width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử chứa */
        }
        
        .pie-container {
            flex: 1 1 45%; /* Cho phép mỗi pie container chiếm 45% chiều rộng */
            display: flex; /* Sử dụng Flexbox trong từng pie container */
            flex-direction: column; /* Sắp xếp pie chart và label theo chiều dọc */
            align-items: center; /* Căn giữa các phần tử trong pie container */
            margin: 10px; /* Thêm khoảng cách giữa các pie container */
            max-width: 200px; /* Đặt chiều rộng tối đa cho từng pie container */
        }
        
        .pie-label {
            margin-top: 5px; /* Khoảng cách trên label */
            font-size: 15px; /* Kích thước chữ */
            font-weight: bold; /* Đậm chữ */
            text-align: center; /* Căn giữa label */
        }
        
        /* Media query cho màn hình nhỏ hơn */
        @media (max-width: 768px) {
            .pie-container {
                flex: 1 1 45%; /* Hai pie chart mỗi hàng cho màn hình trung bình */
                max-width: 45%; /* Đặt chiều rộng tối đa để vừa hai pie chart */
            }
        }
        
        /* Media query cho màn hình rất nhỏ */
        @media (max-width: 480px) {
            .pie-container {
                flex: 1 1 45%; /* Hai pie chart mỗi hàng cho màn hình nhỏ */
                max-width: 45%; /* Đặt chiều rộng tối đa để vừa hai pie chart */
            }
        }
        
        
        

        

        /* Header */
        .header {
        overflow: hidden;
        background-color: #f1f1f1;
        padding: 5px 10px;
        }

        .header a {
        float: left; 
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px; 
        line-height: 25px;
        border-radius: 4px;
        }

        .header a.logo {
        font-size: 25px;
        font-weight: bold;
        }

        .header a:hover {
        background-color: #ddd;
        color: black;
        }

        .header a.active {
        background-color: dodgerblue;
        color: white;
        }

        .header-right {
        float: right;
        }
        .header-center {
        text-align: center;
        }

        @media screen and (max-width: 500px) {
        .header a {
          /*float: none;  */
            display: block;
            text-align: left;
            float: left;
        }
        
        .header-right {
            float: right;
        }
        .header-center {
            float: none;
        }
        
        }
        table, th, td {
            border:1px solid black;
          }


                /* Media query for mobile devices */
                @media (max-width: 768px) {
                    .container1 {
                        flex-direction: column; /* Stack columns vertically on mobile */
                        height: auto; /* Let the container height adjust automatically */
                    }
                    .getstartpage {
                        flex-direction: column; /* Stack columns vertically on mobile */
                        height: auto; /* Let the container height adjust automatically */
                    }
                    #result-tab-your-answer{
                        flex-direction: column; /* Stack columns vertically on mobile */
                        height: auto; /* Let the container height adjust automatically */
                    }

                    .column1 {
                        max-height: none; /* Remove max-height restriction on mobile */
                        margin-bottom: 20px; /* Add some spacing between columns */
                    }

                    #resultColumn {
                        max-height: none; /* Remove max-height restriction on mobile */
                    }
                    
                    .video-container {
                        border: 1px solid rgb(73, 61, 61);
            
                        border-radius: 10%;
                        width: 90%;   
                        overflow: hidden; /* Ensure video does not overflow container */
                    }
                    .video-container video {

                        width: 100%; /* Make the video responsive within its container */
                        height: 100%;
                        display: block;
                    }
                }

     
.column1::-webkit-scrollbar {
    width: 13px;
  }
  
  .column1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }
  
  .column1::-webkit-scrollbar-thumb {
    border-radius: 8px;
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: #685757;
  }


        
  .column0::-webkit-scrollbar {
    width: 13px;
  }
  
  .column0::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
  }
  
  .column0::-webkit-scrollbar-thumb {
    border-radius: 8px;
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: #685757;
  }
#ads-container{

    display: flex;
    box-sizing: border-box;
    position: fixed;
    bottom: 1px;
    width: 100%;
    justify-content: center;
    background-color: rgb(118, 125, 214);
    /*border-radius: 5cm; */
    overflow: hidden;

} 



